<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <context:component-scan base-package="net.sinedu.company" use-default-filters="true">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:annotation-driven/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${db.driver}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="user" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="loginTimeout" value="${db.loginTimeout}"/>
        <property name="testConnectionOnCheckout" value="true"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:**/*-mapper.xml"/>
        <property name="typeAliasesPackage" value="net.sinedu.company"/>
        <property name="typeAliasesSuperType" value="java.io.Serializable"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice"
               transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" rollback-for="cn.easybuild.kernel.exceptions.ApplicationException"/>
            <tx:method name="*" propagation="REQUIRED" isolation="DEFAULT"/>

            <tx:method name="query*" propagation="SUPPORTS" isolation="DEFAULT" read-only="true"/>
            <tx:method name="get*" propagation="SUPPORTS" isolation="DEFAULT" read-only="true"/>

        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor
                pointcut="execution(* net.sinedu.company.modules..*Service*.*(..))"
                advice-ref="txAdvice"/>

    </aop:config>

    <bean id="applicationConfig" class="net.sinedu.company.modules.ApplicationConfig">
        <property name="domain" value="${domain}"/>

        <property name="appId" value="${app.id}"/>
        <property name="qcloudDomain" value="${qcloud.domain}"/>
        <property name="secretId" value="${secret.id}"/>
        <property name="secretKey" value="${secret.key}"/>
        <property name="bucktName" value="${buckt.name}"/>
        <property name="bucktUeName" value="${buckt.ue.name}"/>

        <property name="articleHtmlFtp" value="${article.html.ftp}"/>
        <property name="articleStorage" value="${article.storage}"/>
        <property name="articleUriprefix" value="${article.uriprefix}"/>
        <property name="giftActivityHtmlFtp" value="${gift.activity.html.ftp}"/>
        <property name="giftActivityUriprefix" value="${gift.activity.uriprefix}"/>

        <property name="resourcesUriprefix" value="${resources.uriprefix}"/>

        <property name="accessTokenTimeout" value="${access.token.timeout}"/>

        <property name="imageRootUriPrefix" value="${image.root.uriprefix}"/>
        <property name="imageStorageFtp" value="${image.storage.ftp}"/>
        <property name="imageUrlPrefix" value="${image.uriprefix}"/>
        <property name="thumbnailStorageFtp" value="${thumbnail.storage.ftp}"/>
        <property name="thumbnailUrlPrefix" value="${thumbnail.uriprefix}"/>

        <property name="smsMachineClass" value="${sms.machine.class}" />
        <property name="smsMachineUsername" value="${sms.machine.username}" />
        <property name="smsMachinePassword" value="${sms.machine.password}" />
        <property name="smsMachineExtno" value="${sms.machine.extno}" />
        <property name="smsMachineSendUri" value="${sms.machine.uri.send}" />
        <property name="smsMachineOverageUri" value="${sms.machine.uri.overage}" />

        <property name="mailFrom" value="${mail.username}"/>

        <property name="giftImagetextLocalFilePath" value="${gift.imagetext.storage}"></property>
        <property name="giftImagetextFtpFilePath" value="${gift.imagetext.storage.ftp}"></property>
        <property name="giftImagetextUrlPrefix" value="${gift.imagetext.uriprefix}"></property>

        <property name="jpushAndroidAppKey" value="${jpush.android.app.key}"/>
        <property name="jpushAndroidMasterSecret" value="${jpush.android.master.secret}"/>
        <property name="jpushiOSAppKey" value="${jpush.ios.app.key}"/>
        <property name="jpushiOSMasterSecret" value="${jpush.ios.master.secret}"/>
        <property name="testEnvironment" value="${is.test.environment}"/>

        <property name="ftpHost" value="${ftp.host}"/>
        <property name="ftpPort" value="${ftp.port}"/>
        <property name="ftpUsername" value="${ftp.usename}"/>
        <property name="ftpPassword" value="${ftp.password}"/>

        <property name="ueditorFtpFilePath" value="${ueditor.ftpFilePath}"/>
        <property name="ueditorUrlPrefix" value="${ueditor.urlPrefix}"/>

        <property name="excelFilePath" value="${excel.filePath}"/>
        <property name="excelFtpFilePath" value="${excel.ftpFilePath}"/>
        <property name="excelUrlPrefix" value="${excel.urlPrefix}"/>

        <property name="WXPayNotifyUrl" value="${wxpay.notify.url}"/>

        <property name="videoStorageFtp" value="${video.storage.ftp}"/>
        <property name="videoStorage" value="${video.storage}"/>
        <property name="videoUrlPrefix" value="${video.uriprefix}"/>
    </bean>


    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="javaMailSender">
        <property name="host" value="${mail.smtp}"/>
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

    <bean id="freeMarkerConfigurer"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/flt"></property>
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">5</prop>
                <prop key="locale">zh_CN</prop>
            </props>
        </property>
    </bean>

    <bean id="springContextHolder" class="net.sinedu.company.sys.spring.SpringContextHolder"></bean>

</beans>

